data_directory = '{{ nix_postgresql_user_directory }}/data'
hba_file = '{{ nix_postgresql_user_directory }}/data/pg_hba.conf'
ident_file = '{{ nix_postgresql_user_directory }}/data/pg_ident.conf'
external_pid_file = '/var/run/postgresql/9.3-main.pid'
listen_addresses = '*'
port = 5432
max_connections = 100
unix_socket_directories = '{{ nix_postgresql_socket_directory }}'
ssl = true              # (change requires restart)
#ssl_ciphers = 'DEFAULT:!LOW:!EXP:!MD5:@STRENGTH'   # allowed SSL ciphers
		    # (change requires restart)
#ssl_renegotiation_limit = 512MB    # amount of data between renegotiations
ssl_cert_file = '{{nix_postgresql_user_directory}}/ssl-cert-snakeoil.pem'      # (change requires restart)
ssl_key_file = '{{nix_postgresql_user_directory}}/ssl-cert-snakeoil.key'     # (change requires restart)
#ssl_ca_file = ''           # (change requires restart)
#ssl_crl_file = ''          # (change requires restart)
#password_encryption = on
#db_user_namespace = off
shared_buffers = 32MB
log_line_prefix = '%t '
datestyle = 'iso, dmy'
lc_messages = 'C'
lc_monetary = 'C'
lc_numeric = 'C'
lc_time = 'C'
default_text_search_config = 'pg_catalog.english'
