[program:postgresql]
command={{ pg_bin }} -D {{ nix_postgresql_user_directory }}/data --config_file={{nix_postgresql_user_directory}}/data/postgresql.conf
user=postgres
directory={{ nix_postgresql_user_directory }}
#stopasgroup=true
stopsignal=QUIT
stopwaitsecs=10
autostart=true
redirect_stderr=true           ; redirect proc stderr to stdout (default false)
stdout_logfile={{ nix_postgresql_user_directory }}/logs/postgres.log        ; stdout log path, NONE for none; default AUTO
stdout_logfile_maxbytes=20MB   ; max # logfile bytes b4 rotation (default 50MB)
stdout_events_enabled=true   ; emit events on stdout writes (default false)
autorestart=true
