[program:celery]
#command=/sandbox/dh_celery/build/{{ ansible_hostname }}/ENV/bin/celery worker -A dh_celery -b amqp://guest:guest@localhost:5672// -c 10 -l DEBUG --pidfile=/tmp/celery.pid
command=/sandbox/dh_celery/build/ENV/bin/celery worker -A dh_celery -b amqp://guest:guest@localhost:5672// -c 10 -l DEBUG --pidfile=/tmp/celery.pid
directory=/sandbox/dh_celery
stopasgroup=true
stopwaitsecs=600
autostart=false
redirect_stderr=true           ; redirect proc stderr to stdout (default false)
stdout_logfile=/var/log/dh_celery.log        ; stdout log path, NONE for none; default AUTO
stdout_logfile_maxbytes=20MB   ; max # logfile bytes b4 rotation (default 50MB)
stdout_events_enabled=true   ; emit events on stdout writes (default false)