[program:connector]
user=vagrant
#command=/sandbox/connector/build/{{ ansible_hostname }}/ENV/bin/uwsgi -H /sandbox/connector/build/{{ ansible_hostname}}/ENV --ini /sandbox/connector/config/uwsgi_local.ini --no-default-app --pidfile /tmp/connector.pid
command=/sandbox/connector/build/ENV/bin/uwsgi -H /sandbox/connector/build/ENV --ini /sandbox/connector/config/uwsgi_local.ini --no-default-app --pidfile /tmp/connector.pid
stopasgroup=true
autostart=false
redirect_stderr=true           ; redirect proc stderr to stdout (default false)
stdout_logfile=/home/vagrant/logs/connector.log        ; stdout log path, NONE for none; default AUTO
stdout_logfile_maxbytes=20MB   ; max # logfile bytes b4 rotation (default 50MB)
stdout_events_enabled=true   ; emit events on stdout writes (default false)
