[program:bizengine]
user=vagrant
#command=/sandbox/bizengine/build/{{ ansible_hostname }}/ENV/bin/python /sandbox/bizengine/bizengine/manage.py runserver 0.0.0.0:7743 --noreload
command=/sandbox/bizengine/build/ENV/bin/python /sandbox/bizengine/bizengine/manage.py runserver 0.0.0.0:7743 --noreload
directory=/sandbox/bizengine/bizengine
stopasgroup=true
stopwaitsecs=600
autostart=false
redirect_stderr=true           ; redirect proc stderr to stdout (default false)
stdout_logfile=/home/vagrant/logs/bizengine.log        ; stdout log path, NONE for none; default AUTO
stdout_logfile_maxbytes=20MB   ; max # logfile bytes b4 rotation (default 50MB)
stdout_events_enabled=true   ; emit events on stdout writes (default false)
